* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Jua', sans-serif;
}

button {
  font-family: 'Jua' sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
  text-shadow: 0.3rem 0.3rem 0.3rem black;
}

.title-main {
  font-size: 10rem;
}


.bg1 {
  background-image: url('../img/img2.jpg');
  background-size: cover;
}

.goBtn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-family: 'Jua';
  font-size: 1rem;
  background-color: rgb(255, 209, 209);
} 

#playView {
  background-color: rgb(250, 176, 176);
}

#playPart {
  height: 100%;
  width: 60%;
  /* background-color: red; */
}

#noticeBoard {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto 2rem auto;
  padding: 2.5rem;
  
  width: 96%;
  height: 200px;
  border: 5px solid black;
  border-radius: 10px;
  background-color:green;
  box-shadow: 0.2rem 0.2rem 0.2rem black;

  font-size: 3.8rem;
  color: rgb(250, 255, 210);
  text-shadow: 0.1rem 0.1rem rgb(94, 92, 1);
}

.numBox {
  display: inline-flex;
  flex-direction: column;
  border-radius: 10px;
  border: 5px solid rgb(0, 0, 0);
  width: 170px;
  height: 170px;
  background-color: white;
  justify-content: center;
  font-family: 'Jua', sans-serif;
  font-size: 80px;
  text-align: center;
  align-self: center;
}

#logPart {
  height: 100%;
  width: 40%;
  /* background-color: yellow; */
}

#logContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  width: 450px;
  height: 620px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: rgb(255, 242, 168);
  margin-top: -10px;
  padding: 2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
}



/* 도움말 화면 */
#helpView {
  background-color: rgb(255, 248, 224);
  padding: 0 3rem;
}

#helpTitle {
  font-size: 5rem;
  color: rgb(0, 151, 13);
  margin-bottom: 1rem;
  text-shadow: 0.2rem 0.2rem 0.2rem black;
}

#helpLists {
  list-style: none;
  font-size: 3rem;
}

#closeHelpBtn {
  margin-top: 2rem;
  align-self: center;
  font-size: 2rem;
  width: 10rem;
  height: 4rem;
  background-color: rgb(250, 146, 104);
  border-radius: 10px;
}


#answerView {
  background-color: rgb(255, 207, 47);
  align-items: center;
  justify-content: center;
}

#answerViewTitle {
  font-size: 10rem;
  color: rgb(0, 0, 0);
}

#closeAnswerBtn {
  margin-top: 2rem;
  align-self: center;
  font-size: 2rem;
  width: 10rem;
  height: 4rem;
  background-color: rgb(100, 41, 1);
  color: white;
  border-radius: 10px;
}